[user]
	email = hi@znck.me
	name = Rahul Kadyan
	signingkey = 496041D243818206D62CC2DF21AF5D4A08BA995B

[core]
	autocrlf = input
	excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
  pr = pull-request
  cb = clean-branch
  clean-branch = !clean-stale-branches

[init]
	defaultBranch = main
